:root {
  --main-bg-color: #2c394b;
  --border-color: #ff4c29;
  --text-color: #eae7ea;
  --warning-color: #c02304;
  --secondary-color: #334756;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  * Flash Messaging */ #flash {
    background-color: var(--warning-color);
    color: var(--text-color);
    position: relative;
    margin: 0 auto;
  }

  .btn {
    display: inline-block;
    background-color: var(--border-color);
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1em;
    color: var(--text-color);
  }

  /* Nav Bar */

  nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    background-color: #da4224;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
  }

  .links {
    position: relative;
    top: 1.25em;
    right: 2em;
  }

  nav h4 {
    position: relative;
    left: 2em;
  }

  /* ---------------------------------------------------------- */

  /* Forms */

  .form-layout form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1em;
  }

  .form-layout input {
    border: none;
    border-radius: 5px;
  }

  .form-layout form button:active {
    background-color: #e53411;
  }

  /* ---------------------------------------------------------- */

  /* Species and class selection */
  .title {
    font-family: "Major Mono Display", monospace;
  }
  .selection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px;
    column-gap: 3em;
    row-gap: 3em;
  }

  .selection h3 a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
  }

  .selection-list {
    border: 4px solid var(--secondary-color);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
  }
}

/* Dashboard */

.character-list {
  position: relative;
  top: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 3em;
  row-gap: 3em;
}

.character-list a {
  text-decoration: none;
  color: var(--text-color);
}

.character-tile {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
}

.dash-form {
  gap: 1em;
}

/* ------------------------------------------------------------ */

/* Single species page */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.intro-title {
  border-bottom: 1px solid var(--border-color);
  padding: 0.25em;
  font-family: "Major Mono Display", monospace;
}

.intro-para {
  padding-left: 0.75em;
  padding-right: 0.25em;
  margin: 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.feature-title {
  border-bottom: 1px solid var(--border-color);
  padding: 0.25em;
  font-family: "Major Mono Display", monospace;
}

.feature {
  padding-left: 0.75em;
  padding-right: 0.25em;
  margin: 0 0 2em 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
}

/* Buttons */

.next {
  border: none;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  position: relative;
  left: 5em;
  bottom: 0.2em;
  font-size: 21px;
}

.back {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  right: 5em;
  top: 1.25em;
  font-size: 20px;
}

/* Table */

.table {
  /* margin: 2em; */
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}
