:root {
  --main-bg-color: #2c394b;
  --border-color: #ff4c29;
  --text-color: #eae7ea;
  --warning-color: #c02304;
  --secondary-color: #334756;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  @font-face {
    font-family: StarWarsTitle;
    src: url(SfDistantGalaxyAltoutline-e2Bp.ttf);
    font-weight: lighter;
  }

  #flash {
    background-color: var(--warning-color);
    color: var(--text-color);
    position: relative;
    top: 2em;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  .btn {
    display: inline-block;
    background-color: var(--border-color);
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    padding: 0.5em 1em;
    color: var(--text-color);
  }

  /* Nav Bar */

  nav {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    background-color: #da4224;
  }

  nav a {
    text-decoration: none;
    color: var(--text-color);
    font-family: StarWarsTitle;
    font-size: 14px;
  }

  .links {
    position: relative;
    top: 1.25em;
    right: 2em;
  }

  nav h4 {
    position: relative;
    left: 1em;
  }

  /* ---------------------------------------------------------- */

  /* Forms */

  .form-layout form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 5px solid var(--secondary-color);
    border-radius: 5px;
    padding: 1em;
  }

  .ability-form {
    margin: 0;
  }

  .form-layout label {
    font-family: StarWarsTitle;
    padding: 0 1em;
    font-size: 20px;
  }

  .form-layout input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    font-family: "Quicksand", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }

  .form-layout select {
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }

  .form-layout textarea {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    font-family: "Quicksand", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
  }

  .form-layout form button:active {
    background-color: #e53411;
  }

  /* ---------------------------------------------------------- */

  /* Species and class selection */
  .title {
    font-family: StarWarsTitle;
  }

  .title a {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0.25em;
  }

  .title-class {
    font-family: StarWarsTitle;
    position: relative;
    top: 1em;
  }

  .selection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px;
    column-gap: 3em;
    row-gap: 3em;
  }

  .selection h3 a {
    text-decoration: none;
    color: var(--text-color);
    font-family: "Quicksand", sans-serif;
  }

  .selection-list {
    border: 4px solid var(--secondary-color);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
  }
}

/* Dashboard */

.character-list {
  position: relative;
  top: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 3em;
  row-gap: 3em;
}

.character-list a {
  text-decoration: none;
  color: var(--text-color);
}

.character-tile {
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
}

.dash-form {
  gap: 1em;
}

/* ------------------------------------------------------------ */

/* Single species and single class page */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.intro-title {
  border-bottom: 1px solid var(--border-color);
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.intro-para {
  padding-left: 0.75em;
  padding-right: 0.25em;
  margin: 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.feature-title {
  border-bottom: 1px solid var(--border-color);
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.feature {
  padding-left: 0.75em;
  padding-right: 0.25em;
  margin: 0 0 2em 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.feature-left {
  padding-right: 0.25em;
  margin: 1em 0 2em 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
}

.intro-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
}

.intro-title-center {
  position: relative;
  left: 3.5em;
  border-bottom: 1px solid var(--border-color);
  padding: 0.25em;
  font-family: StarWarsTitle;
}

.class-level {
  position: absolute;
  top: 3.2em;
}

.class-level input:focus {
  outline: none;
}

/* Buttons */

.next {
  border: none;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  position: relative;
  left: 7em;
  bottom: 0.2em;
  font-size: 21px;
}

.next-class {
  border: none;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  position: absolute;
  right: 2em;
  top: 4em;
  font-size: 21px;
}

.back {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  right: 7em;
  top: 1.25em;
  font-size: 20px;
}

.back-class {
  text-decoration: none;
  color: var(--text-color);
  position: absolute;
  left: 2em;
  top: 4em;
  font-size: 21px;
}

/* Tables */

.card-area {
  position: relative;
  top: 3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 3em;
  row-gap: 3em;
}

.item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  position: relative;
}

.class-card {
  padding: 2em;
}

.item-title {
  font-family: StarWarsTitle;
  font-size: 16px;
  visibility: visible;
  padding-bottom: 0;
}

.item-card p {
  font-size: 12px;
}

.item-detials {
  position: absolute;
  top: 1em;
  left: 0.1em;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  column-gap: 0.5em;
  row-gap: 0.5em;
  background-color: var(--secondary-color);
  z-index: 1;
}

.item-detials button {
  font-size: 25px;
}

.hidden {
  visibility: hidden;
}

.toggle-open {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border: none;
  margin: 0;
  padding: 0;
}

.toggle-close {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}

.close {
  background-color: var(--secondary-color);
  font-size: 20px;
}

.tables table {
  margin-bottom: 2em;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.tables table thead {
  font-family: StarWarsTitle;
  letter-spacing: 0.05em;
}

.tables table thead th:nth-child(even) {
  text-align: start;
}

.tables table tbody tr {
  letter-spacing: 0.05em;
  font-family: "Quicksand", sans-serif;
}

.tables table tbody tr:nth-child(odd) {
  background-color: var(--secondary-color);
  /* border: 1px solid var(--border-color); */
}

/* equipment page */

.delete-btn {
}

/* Character Overview */

.character-area {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-bottom: none;
  padding: 0;
  width: 95%;
  position: relative;
}

.character-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 0;
  font-size: 12px;
}

.tab {
  padding: 1em;
  /* z-index: 1; */
  margin: 0;
}

.select-tab {
  background-color: var(--main-bg-color);
}

.setup {
  background-color: var(--main-bg-color);
  position: absolute;
  right: -1px;
  width: 100%;

  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.abilities h3 {
  border-bottom: 1px solid var(--border-color);
  width: 55%;
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.abilities section i {
  font-size: 10px;
  margin-right: 8px;
  margin-left: 5px;
}

.abilities section p {
  position: relative;
  left: 1em;
  font-family: "Quicksand", sans-serif;
}

.features {
  padding-top: 1em;
}

.features h3 {
  border-bottom: 1px solid var(--border-color);
  width: 55%;
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.features h4 {
  font-family: "Quicksand", sans-serif;
  position: relative;
  left: 0.5em;
}

.feat-info {
  position: absolute;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.features h4 span {
  position: relative;
  left: 0.5em;
}

.character div {
  line-height: 2em;
}

.character p strong {
  border-bottom: 1px solid var(--border-color);
  width: 55%;
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.character p {
  font-family: "Quicksand", sans-serif;
}

.equipment h3 {
  border-bottom: 1px solid var(--border-color);
  width: 55%;
  padding: 0.25em;
  font-family: StarWarsTitle;
  letter-spacing: 0.1em;
}

.equipment p {
  font-family: "Quicksand", sans-serif;
  position: relative;
  left: 1em;
}
