{% extends 'base.html' %}

{% block content %}

<a href="/character/backgrounds" class="back-class"><i class="fa-solid fa-arrow-left"></i></a>

<h3 class="title-abilities">Ability Scores</h3>

<div class="form-layout ability-form">
    <form method="POST">
        <button class="next-class"><i class="fa-solid fa-arrow-right"></i></button>
        {{ form.hidden_tag() }}
    
        {% for field in form if field.widget.input_type != 'hidden' %}
                {{field.label}}
                {{field}}
            
        {% endfor %}
        
    </form>
</div>

{% endblock %}
