{% extends 'base.html' %}

{% block content %}

<a href="/character/equipment" class="back"><i class="fa-solid fa-arrow-left"></i></a>
   
    <div class="card-area">
        {% for item in gear %}
    
        <div class="item-card">
            <button class="toggle-open toggle-btn"><h3 class="item-title">{{item.name}}</h3></button>
            <div class="item-detials hidden">
                <span></span>
                <button class="toggle-close toggle-btn"><i class="close fa-solid fa-compress"></i></button>
                <p>Adventuring Gear Category</p>
                <p>{{item.catrgory}}</p>
                <p>Cost</p>
                <p>{{item.cost}}</p>
                <p>Weight</p>
                <p>{{item.weight}}</p>
                {% if item.details != None %}
                    <!-- <p>Adventuring Gear Details</p>
                    <p>{{item.details}}</p> -->
                {% endif %}
                
                <form action="/character/equipment/adventure-gear", method="POST">
                    <input type="text" value="{{item.name}}" name="gear" hidden>
                    <button type="submit" class="toggle-close"><i class="close fa-solid fa-check"></i></button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
    
    <script src="/static/equipment-card.js"></script>








{% endblock %}
