{% extends 'base.html' %}

{% block content %}

<a href="/character/classes" class="back"><i class="fa-solid fa-arrow-left"></i></a>

<h1 class="title">Backgrounds</h1>

<!-- 
<ul>
{% for background in backgrounds %}

    <li>
        <a href="/character/backgrounds/{{background.id}}">
        {{background.name}}
        </a>
    </li>

{% endfor %}
</ul> -->



<div class="selection">
    {% for background in backgrounds %}
        <div class="selection-list">
            <h3><a href="/character/backgrounds/{{background.id}}">{{background.name}}</a></h3>

        </div>
        

    {% endfor %}
</div>



{% endblock %}