<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/a040842019.js" crossorigin="anonymous"></script>
    <title>SW5E Companion</title>
</head>
<body>
    
    <nav>
        <h4><a href="/">SW5E Companion</a></h4>
        {% if g.user %}
            <div class="links">
                <a href="/logout">Logout</a> / <a href="/user/{{g.user.id}}" >Dashboard</a>
            </div>
        {% else %}
            <div class="links">
                <a href="/signup" class="first-link">Sign-up</a> / <a href="/login">login</a>
            </div>
                  
        {% endif %}
    </nav>

    <div id="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="main-container">
        {% block content %}


       
        {% endblock %}
    </div>
</body>
</html>