<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SW5E Companion</title>
</head>
<body>
    
    <nav>
        <h5>SW5E Companion</h5>
        {% if g.user %}
            <a>Logout</a>
        {% else %}
            <a href="/signup">Sign-up</a> / <a href="/login">login</a>      
        {% endif %}
    </nav>

    {% block content %}
    
    {% endblock %}

</body>
</html>