{% extends 'base.html' %}

{% block content %}

<form action="/character/description">
    <button>Back</button>
</form>

<form action="/character/create-character", method="POST">
    <button>Create</button>
</form>

<h2><a href="/character/equipment/armors">Armor</a></h2>

    <p>{{session["armor"]}}</p>

<h2><a href="/character/equipment/weapons">Weapons</a></h2>

    <p>{{session["weapon"]}}</p>

<h2><a href="/character/equipment/adventure-gear">Adventure Gear</a></h2>

    <p>{{session["gear"]}}</p>

{% endblock %}
