{% extends 'base.html' %}

{% block content %}

<a href="/character/description" class="back-class"><i class="fa-solid fa-arrow-left"></i></a>


<form action="/character/create-character", method="POST">
    <button class="next-class"><i class="fa-solid fa-arrow-right"></i></button>

</form>

<h2 class="title-abilities"><a href="/character/equipment/armors">Armor</a></h2>

        {% for item in session["armor"] %}
                <!-- <form action="/character/equipment/armors/delete" method="POST"> -->
                        <p class="feature" style="display: inline;">{{item}} </p>
                        <!-- <input type="text" name="armor" value="{{item}}" hidden> -->
                        <!-- <button type="submit" class="delete-btn" style="display: inline;">X</button> -->
                </form>
                    
        {% endfor %}

<h2 class="title-abilities"><a href="/character/equipment/weapons">Weapons</a></h2>

        {% for item in session["weapon"] %}
        <!-- <form action="/character/equipment/delete" method="POST"> -->
                <p class="feature-equipment" style="display: inline;">{{item}} </p>
                <!-- <input type="text" name="weapon" value="{{item}}" hidden>
                <button class="delete-btn" style="display: inline;">X</button>
                    </form> -->
        {% endfor %}

<h2 class="title-abilities"><a href="/character/equipment/adventure-gear">Adventure Gear</a></h2>
        {% for item in session["gear"] %}
        <!-- <form action="/character/equipment/delete" method="POST"> -->
                <p class="feature-equipment" style="display: inline;">{{item}} </p>
                <!-- <input type="text" name="gear" value="{{item}}" hidden>
                <button class="delete-btn" style="display: inline;">X</button>
                    </form> -->
        {% endfor %}

    
        <!-- <script src="/static/delete_equipment.js"></script> -->

{% endblock %}
