{% extends 'base.html' %}

{% block content %}

<form action="/character/description">
    <button>Back</button>
</form>

<form action="/character/create-character", method="POST">
    <button>Create</button>
</form>

<h2><a href="/character/equipment/armors">Armor</a></h2>

    <ul>
        {% for item in session["armor"] %}
            <li>{{item}} <button>X</button></li>
        {% endfor %}
    </ul>

<h2><a href="/character/equipment/weapons">Weapons</a></h2>

    <ul>
        {% for item in session["weapon"] %}
            <li>{{item}} <button>X</button></li>
        {% endfor %}
    </ul>

<h2><a href="/character/equipment/adventure-gear">Adventure Gear</a></h2>

    <ul>
        {% for item in session["gear"] %}
            <li>{{item}} <button>X</button></li>
        {% endfor %}
    </ul>
    
{% endblock %}
