{% extends 'base.html' %}

{% block content %}

<a href="/character/description" class="back-class"><i class="fa-solid fa-arrow-left"></i></a>


    <div class="form-layout powers-form">
        <form method="POST">

            {% if "Forcecasting" in _class.description_by_level["1"]["Features"] %}

            {% set known = _class.description_by_level[session["level"]|string]["Force Powers Known"]|int %}
         
            <label class="title">Force Powers</label>
            {% for item in range(1, known + 1) %}
                <select name="{{item}}">
                    <option value="">Select Power</option>
                    {% for item in forces %}
                        {% if session["level"]|int is ge(item.level) %}
                        <option value="{{item.name}}">{{item.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}
        
        
        {% elif "Techcasting" in _class.description_by_level["1"]["Features"] %}

        {% set known = _class.description_by_level[session["level"]|string]["Tech Powers Known"]|int %}
        
            
            <label class="title">Tech Powers</label>
            {% for item in range(1, known + 1) %}
                <select name="{{item}}">
                    <option value="">Select Power</option>
                    {% for item in techs %}
                        {% if session["level"]|int is ge(item.level) %}
                            <option value="{{item.name}}">{{item.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}


        {% else %}
                <h4>This Class does not have Powers</h4>

        {% endif %}
        <button class="next-class"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
        


    </div>



{% endblock %}