{% extends 'base.html' %}

{% block content %}

<a href="/character/description" class="back-class"><i class="fa-solid fa-arrow-left"></i></a>


    <div class="form-layout powers-form">
        <form method="POST">

            {% if "Forcecasting" in _class.description_by_level["1"]["Features"] %}

            {% set known = _class.description_by_level[session["level"]|string]["Force Powers Known"]|int %}
         
            <label class="title">Force Powers</label>
            <select name="alignment" id="alignment">
                <option value="universal">Universal</option>
                <option value="light">Light</option>
                <option value="dark">Dark</option>
            </select>
            {% for item in range(1, known + 1) %}
                <select name="{{item}}" class="power-selection">
                    <option value="">Select Power</option>
                    {% for item in forces %}
                        {% if session["level"]|int is ge(item.level) %}
                            {% if item.level == 0 %}
                                {% if item.force_alignment == "Universal" %}
                                    <option value="{{item.name}}" class="universal">{{item.name}}-At-Will</option>
                                {% elif item.force_alignment == "Light" %}
                                    <option value="{{item.name}}" class="light">{{item.name}}-At-Will</option>
                                {% else %}
                                    <option value="{{item.name}}" class="dark">{{item.name}}-At-Will</option>
                                {% endif %}   
                            {% else %}
                                {% if item.force_alignment == Universal %}
                                    <option value="{{item.name}}" class="universal">{{item.name}}-1</option>
                                {% elif item.force_alignment == Light %}
                                    <option value="{{item.name}}" class="light">{{item.name}}-1</option>
                                {% else %}
                                    <option value="{{item.name}}" class="dark">{{item.name}}-1</option>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}
        
        
        {% elif "Techcasting" in _class.description_by_level["1"]["Features"] %}

        {% set known = _class.description_by_level[session["level"]|string]["Tech Powers Known"]|int %}
        
            
            <label class="title">Tech Powers</label>
            {% for item in range(1, known + 1) %}
                <select name="{{item}}">
                    <option value="">Select Power</option>
                    {% for item in techs %}
                        {% if session["level"]|int is ge(item.level) %}
                            <option value="{{item.name}}">
                                {% if item.level == 0 %}
                                    {{item.name}}-At-Will
                                {% else %}
                                    {{item.name}}-1
                                {% endif %}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endfor %}


        {% else %}
                <h4>This Class does not have Powers</h4>

        {% endif %}
        <button class="next-class"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
        


    </div>

    <script src="/static/powers.js"></script>

{% endblock %}