{% extends 'base.html' %}

{% block content %}


<a href="/character/backgrounds" class="back-class"><i class="fa-solid fa-arrow-left"></i></a>



<h2 class="title-class">{{background.name}}</h2>

<div class="intro">
    <h3 class="intro-title"><strong>Introduction</strong></h3>
    <p class="intro-para">{{background.intro}}</p>
</div>

<div class="intro">
    <p class="feature"><strong class="feature-title">Skill Proficiencies:</strong> {{background.skill_proficiencies}}</p>
    <div class="form-layout">
        <form method="POST">
            <input type="text" value="{{background.name}}" name="background" hidden>
            <label class="title">Choose Skills</label>
                {% for skill in range(0, background.skill_vals[0]) %}
                    <select name="{{skill}}">
                            {% for item in background.skill_vals %}
                                {% if item != background.skill_vals[0] %}
                                    {% set val = 0 %}
                                    <option value="{{item}}">{{item}}</option>
                                    {% set val = val + 1 %}
                                {% endif %}    
                        {% endfor %}
                    </select>
                {% endfor %}
                <button class="next-class"><i class="fa-solid fa-arrow-right"></i></button>
        </form>
    </div>
</div>

<div class="intro-left">
    <p class="feature-left"><strong class="feature-title">Languages:</strong> {{background.languages}}</p>
    <p class="feature-left"><strong class="feature-title">Equipment:</strong> {{background.equipment}}</p>
</div>


<div class="intro">
    <h4 class="feature-title"><strong>{{background.background_feature_name}}</strong></h4>
    <p class="feature">{{background.background_feature_details}}</p>
</div>


    {% set len = background.traits|length %}
    {% set ideal_len = background.ideals|length %}
    {% set bond_len = background.bonds|length %}
    {% set flaw_len = background.flaws|length %}

    <div class="tables">
        <table>
            <thead>
                <tr>
                    <th>d8</th>
                    <th>Personality Trait</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in range(0, len) %}
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{background.traits[i].details}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Ideals</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in range(0, ideal_len) %}
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{background.ideals[i].details}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Bonds</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in range(0, bond_len) %}
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{background.bonds[i].details}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <table>
            <thead>
                <tr>
                    <th>d6</th>
                    <th>Flaws</th>
                </tr>
                
            </thead>
            <tbody>
                {% for i in range(0, flaw_len) %}
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{background.flaws[i].details}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    







    

    


{% endblock %}
