{% extends 'base.html' %}

{% block content %}

<a href="/character/species" class="back"><i class="fa-solid fa-arrow-left"></i></a>

<form method="POST" id="next-form">
    <input type="text" value="{{specie.name}}" name="specie" hidden>
    <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
</form>

    <h2 class="title-abilities">{{specie.name}}</h2>
    <section class="intro">
        <h3 class="intro-title"><strong>Bio and Appearance</strong></h3>
        <p class="intro-para">{{specie.bio_and_appeaerance}}</p>

        <h3 class="intro-title"><strong>Society and Culture</strong></h3>
        <p class="intro-para">{{specie.society_and_culture}}</p>

        <h3 class="intro-title"><strong>Names</strong></h3>
        <p class="intro-para">{{specie.names}}</p>
    </section>
    

    <section class="intro">
        <h3 class="intro-title">Species Features</h3>
        <p class="feature"><strong class="feature-title">Ability Score Increase: </strong>{{specie.ability_score_increase}}</p>
        <p class="feature"><strong class="feature-title">Age:</strong> {{specie.age}}</p>
        <p class="feature"><strong class="feature-title">Alignment:</strong> {{specie.alignment}}</p>
        <p class="feature"><strong class="feature-title">Size:</strong> {{specie.size}}</p>
        <p class="feature"><strong class="feature-title">Speed:</strong> {{specie.speed}}</p>
        
        {% for trait in specie.traits %}
            <p class="feature"><strong class="feature-title">{{trait.name}}:</strong> {{trait.details}}</p>
        {% endfor %}
        <p class="feature"><strong class="feature-title">Languages:</strong> {{specie.languages}}</p>
    </section>




    

{% endblock %}
