{% extends 'base.html' %}


{% block content %}

<h2>{{g.user.username}}</h2>

<form action="/character/species" class="dash-form">
    <button class="btn">Add Character</button>
</form>

<section class="character-list">
    {% for character in g.user.character %}
    
        <a href="/character/{{character.id}}">
            <div class="character-tile">
                <p><strong>Name: </strong>{{character.name}}</p>
                <p><strong>Level: </strong>{{character.level}}</p>
                <p><strong>Class: </strong>{{character.character_class.name}}</p>
                <p><strong>Species: </strong>{{character.character_species.name}}</p>
            </div>
        </a>

        
    {% endfor %}
</section>



{% endblock %}
