{% extends 'base.html' %}

{% block content %}
<a href="/character/equipment" class="back"><i class="fa-solid fa-arrow-left"></i></a>
    

    <div class="card-area">
        {% for weapon in weapons %}
        {% if weapon.id is even() %}
        <div class="item-card">
            <button class="toggle-open toggle-btn"><h3 class="item-title">{{weapon.name}}</h3></button>
            <div class="item-detials-left hidden">
                <span></span>
                <button class="toggle-close toggle-btn"><i class="fa-regular fa-x"></i></button>
                <p>Weapon Type</p>
                <p>{{weapon.type}}</p>
                <p>Properties</p>
                <p>
                    {% for prop in weapon.properties %}
                        {{prop}}
                    {% endfor %}
                </p>       
                <p>Cost</p>
                <p>{{weapon.cost}}</p>
                <p>Weight</p>
                <p>{{weapon.weight}}</p>
                <p>Damage</p>
                <p>{{weapon.damage}}</p>
                <form action="/character/equipment/weapons", method="POST">
                    <input type="text" value="{{weapon.name}}" name="weapon" hidden>
                    <button type="submit" class="toggle-close"><i class="close fa-solid fa-check"></i></button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="item-card">
            <button class="toggle-open toggle-btn"><h3 class="item-title">{{weapon.name}}</h3></button>
            <div class="item-detials-right hidden">
                <span></span>
                <button class="toggle-close toggle-btn"><i class="fa-regular fa-x"></i></button>
                <p>Weapon Type</p>
                <p>{{weapon.type}}</p>
                <p>Properties</p>
                <p>
                    {% for prop in weapon.properties %}
                        {{prop}}
                    {% endfor %}
                </p>       
                <p>Cost</p>
                <p>{{weapon.cost}}</p>
                <p>Weight</p>
                <p>{{weapon.weight}}</p>
                <p>Damage</p>
                <p>{{weapon.damage}}</p>
                <form action="/character/equipment/weapons", method="POST">
                    <input type="text" value="{{weapon.name}}" name="weapon" hidden>
                    <button type="submit" class="toggle-close"><i class="close fa-solid fa-check"></i></button>
                </form>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    
        
    <script src="/static/equipment-card.js"></script>
    
{% endblock %}
